<div>
  <h1>Enter your name</h2>
  <form action="/login" method="GET">
    <input type="hidden" name="_csrf_token" value="<%= csrf_token(@conn) %>" />
    <input type="text" name="name" />
    <input type="submit" value="Join" />
  </form>
</div>
